# Convert the CSV file to SQLite database

In [8]:
import pandas as pd
import sqlite3

In [9]:
df = pd.read_csv(
    "data/state-of-delaware-pcard-transactions.csv.gz",
    compression="gzip",
    parse_dates=["TRANS_DT"],
)
df.rename(
    columns={
        "FISCAL_YEAR": "fiscal_year",
        "FISCAL_PERIOD": "fiscal_period",
        "DEPT_NAME": "department",
        "DIV_NAME": "division",
        "MERCHANT": "merchant",
        "CAT_DESCR": "category_description",
        "TRANS_DT": "transaction_date",
        "MERCHANDISE_AMT": "amount",
    },
    inplace=True,
)
df = df[df['fiscal_year'] == 2024] # Only use FY 2024
df.head(2)

,fiscal_year,fiscal_period,department,division,merchant,category_description,transaction_date,amount
1225525,2024,4,LEGAL,PUBLIC DEFENDER,UBER TRIP,Travel,2023-10-15,44.34
1241326,2024,1,JUDICIAL,Superior Court,KALAHARI RESORT - PA,Lodging,2023-07-07,129.00

In [11]:
df['department'].unique()

array(['LEGAL', 'JUDICIAL', 'LEGISLATIVE BRANCH', 'EXECUTIVE',
       'DEPT OF TECHNOLOGY AND INFOR', 'LIEUTENANT GOVERNOR',
       'AUDITOR OF ACCOUNTS', 'INSURANCE COMMISSIONER', 'STATE TREASURER',
       'DEPARTMENT OF HUMAN RESOURCES', 'DEPT OF STATE',
       'DEPT OF HEALTH AND SOCIAL SV', 'DEPT OF FINANCE',
       'SVS FR CHILDREN YOUTH FAMILIES', 'DEPT OF NATRL RES AND ENV CONT',
       'DEPT OF SAFETY AND HOMELAND', 'DEPT OF CORRECTIONS',
       'DEPT OF TRANSPORTATION', 'DEPT OF LABOR',
       'FIRE PREVENTION COMMISSION', 'DEL TECH AND COMM COLLEGE',
       'DEPT OF EDUCATION', 'DEPT OF AGRICULTURE', 'DEPT OF ELECTIONS',
       'DELAWARE NATIONAL GUARD', 'ADVISORY COUNC EXCEPTNL CITIZN',
       'SMYRNA SCHOOL DISTRICT', 'CAESAR RODNEY SCHOOL DISTRICT',
       'CAPITAL SCHOOL DISTRICT', 'LAKE FOREST SCHOOL DISTRICT',
       'LAUREL SCHOOL DISTRICT', 'CAPE HENLOPEN SCHOOL DISTRICT',
       'MILFORD SCHOOL DISTRICT', 'SEAFORD SCHOOL DISTRICT',
       'APPOQUINIMINK SCHOOL DISTRICT', 'INDIAN RIVER SCHOOL DISTRICT',
       'ODYSSEY CHARTER', 'BRANDYWINE SCHOOL DISTRICT',
       'RED CLAY CONSOLIDATED SCH DIST', 'CHRISTINA SCHOOL DISTRICT',
       'COLONIAL SCHOOL DISTRICT', 'WOODBRIDGE SCHOOL DISTRICT',
       'MOT CHARTER SCHOOL', 'DELMAR SCHOOL DISTRICT',
       'NEW CASTLE COUNTY VO-TECH SCH', 'POLYTECH SCHOOL DISTRICT',
       'SUSSEX TECHNICAL SCHL DISTRICT', 'LAS AMERICAS ASPIRA',
       'THE CHARTER SCHOOL OF WILMNGTN', 'POSITIVE OUTCOMES CHARTER SCHL',
       'EAST SIDE CHARTER SCHOOL', 'CAMPUS COMMUNITY SCHOOL',
       'THOMAS A EDISON CHARTER SCHOOL', 'SUSSEX ACADEMY OF ARTSSCIENCE',
       'DELAWARE MILITARY ACADEMY', 'CHARTER SCHOOL OF NEW CASTLE',
       'KUUMBA ACADEMY CHARTER SCHOOL', 'ACADEMY OF DOVER CHARTER SCHL',
       'PROVIDENCE CREEK ACAD CHTR SCH', 'NEWARK CHARTER SCHOOL',
       'GATEWAY LAB SCHOOL', 'DEPT OF EDUCATION CONTINUED',
       'EARLY COLLEGE HIGH SCHOOL', 'ACADEMIA ANTONIA ALONSO',
       'FIRST STATE MILITARY ACADEMY', 'FREIRE CHARTER SCHOOL'],
      dtype=object)

In [4]:
from sqlalchemy import create_engine, Integer, Float, String, Date

# Create SQLite engine via SQLAlchemy
engine = create_engine("sqlite:///data/delaware-pcard-transactions.db")

# Write to SQLite table with specified data types
df.to_sql(
    name="transactions",
    con=engine,
    if_exists="replace",
    index=False,
    dtype={
        "fiscal_year": Integer,
        "fiscal_period": Integer,
        "department": String,
        "division": String,
        "merchant": String,
        "category_description": String,
        "transaction_date": Date,
        "amount": Float
    }
)

195566