# P-Card Transactions to Dashboard

This notebook demonstrates how to build a data-driven dashboard using Python, SQL, and Plotly (Dash). We will analyze procurement card (p-card) transactions to identify potential instances of fraudulent activity or non-compliance with company policy. This exercise is relevant to the Information Systems and Controls (ISC) section of the CPA exam, as it showcases how data analytics and visualization can be used for:

* **Data-Driven Decision Making:** Analyzing transaction data to make informed decisions about internal controls and risk management.
* **Internal Controls:** Monitoring p-card usage to ensure compliance with company policies and prevent fraudulent activities.
* **Data Visualization:** Using interactive dashboards to communicate findings and insights to stakeholders.

## Packages

* **SQLite:** A C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine. It is the most used database engine in the world. We will use it to create and query our database of p-card transactions.
* **Plotly:** A graphing library for Python that creates interactive, publication-quality graphs online. We will use it to create the charts and graphs for our dashboard.
* **Dash:** A Python framework for building analytical web applications. It's built on top of Plotly.js, React, and Flask. We will use it to create our interactive dashboard.

In [1]:
import anywidget
import sqlite3
import pandas as pd
import plotly.express as px
from dash import Dash, dcc, html, Input, Output

## Getting Started

Let's start by checking the version of `anywidget` we have installed. This is a good practice to ensure compatibility and reproducibility.

In [2]:
print(f"anywidget version: {anywidget.__version__}")

anywidget version: 0.9.18

## Creating and Populating the Database

First, we will create an in-memory SQLite database and a table called `pcard_transactions`. An in-memory database is a database that is stored in the computer's main memory instead of on a disk drive. This is useful for temporary databases and for faster data manipulation.

In [3]:
conn = sqlite3.connect(':memory:')
c = conn.cursor()
c.execute('''
    CREATE TABLE pcard_transactions (
        id INTEGER PRIMARY KEY,
        cardholder_name TEXT,
        merchant_name TEXT,
        transaction_date TEXT,
        amount REAL,
        description TEXT
    )
''')

Next, we will populate the `pcard_transactions` table with some sample data. In a real-world scenario, this data would be imported from a file or a live data source.  This step is crucial for understanding how data is organized and stored, a key concept in the ISC section.

In [4]:
pcard_transactions = [
    ('John Doe', 'Amazon', '2023-10-01', 50.00, 'Office Supplies'),
    ('Jane Smith', 'Staples', '2023-10-02', 75.00, 'Office Supplies'),
    ('John Doe', 'Best Buy', '2023-10-03', 250.00, 'Electronics'),
    ('Jane Smith', 'Amazon', '2023-10-04', 25.00, 'Books'),
    ('John Doe', 'Home Depot', '2023-10-05', 150.00, 'Maintenance'),
    ('Jane Smith', 'Best Buy', '2023-10-06', 500.00, 'Electronics'),
    ('John Doe', 'Staples', '2023-10-07', 30.00, 'Office Supplies'),
    ('Jane Smith', 'Home Depot', '2023-10-08', 75.00, 'Maintenance'),
    ('John Doe', 'Amazon', '2023-10-09', 100.00, 'Office Supplies'),
    ('Jane Smith', 'Staples', '2023-10-10', 50.00, 'Office Supplies')
]

c.executemany('INSERT INTO pcard_transactions (cardholder_name, merchant_name, transaction_date, amount, description) VALUES (?, ?, ?, ?, ?)', pcard_transactions)
conn.commit()

## Querying the Data with Pandas

Now that we have our data in the database, we can use the `pandas` library to query the data and load it into a DataFrame. A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or a SQL table.

In [5]:
df = pd.read_sql_query("SELECT * FROM pcard_transactions", conn)
df

   id cardholder_name merchant_name transaction_date  amount      description
0   1        John Doe        Amazon       2023-10-01    50.0  Office Supplies
1   2      Jane Smith       Staples       2023-10-02    75.0  Office Supplies
2   3        John Doe      Best Buy       2023-10-03   250.0      Electronics
3   4      Jane Smith        Amazon       2023-10-04    25.0            Books
4   5        John Doe    Home Depot       2023-10-05   150.0      Maintenance
5   6      Jane Smith      Best Buy       2023-10-06   500.0      Electronics
6   7        John Doe       Staples       2023-10-07    30.0  Office Supplies
7   8      Jane Smith    Home Depot       2023-10-08    75.0      Maintenance
8   9        John Doe        Amazon       2023-10-09   100.0  Office Supplies
9  10      Jane Smith       Staples       2023-10-10    50.0  Office Supplies

## Building the Dashboard

With our data in a pandas DataFrame, we can now build an interactive dashboard using Dash. The dashboard will allow us to filter the p-card transactions by cardholder name and view the corresponding data and visualizations. This is a practical application of business intelligence and data visualization, which are important topics in the ISC section.

In [6]:
app = Dash(__name__)

app.layout = html.Div([
    html.H1("P-Card Transactions Dashboard"),
    dcc.Dropdown(
        id='cardholder-dropdown',
        options=[{'label': i, 'value': i} for i in df['cardholder_name'].unique()],
        value=df['cardholder_name'].unique()[0]
    ),
    dcc.Graph(id='transactions-bar-chart'),
    dcc.Graph(id='transactions-pie-chart')
])

@app.callback(
    [Output('transactions-bar-chart', 'figure'),
     Output('transactions-pie-chart', 'figure')],
    [Input('cardholder-dropdown', 'value')]
)
def update_charts(selected_cardholder):
    filtered_df = df[df['cardholder_name'] == selected_cardholder]

    bar_chart = px.bar(
        filtered_df,
        x='merchant_name',
        y='amount',
        title=f'Transactions for {selected_cardholder}'
    )

    pie_chart = px.pie(
        filtered_df,
        values='amount',
        names='merchant_name',
        title=f'Spending by Merchant for {selected_cardholder}'
    )

    return bar_chart, pie_chart

## Running the Dashboard

Finally, we can run the dashboard. The dashboard will be available at the URL displayed in the output. This demonstrates how to deploy a data-driven application, a skill that is increasingly important for accounting professionals.

In [7]:
if __name__ == '__main__':
    app.run(debug=True)

ObsoleteAttributeException: app.run_server has been replaced by app.run

## Conclusion

This exercise provided a hands-on introduction to building a data-driven dashboard using Python, SQL, and Plotly (Dash). We learned how to:

* Create and populate a SQLite database.
* Query the database using pandas.
* Build an interactive dashboard with Dash.
* Visualize data with Plotly.

These skills are highly valuable for accounting and finance professionals, as they enable you to analyze data, identify trends, and communicate insights effectively. The ability to work with data and build analytical tools is a key component of the modern accounting profession and is reflected in the CPA exam's ISC section.